{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Hier kan je imformatie toevoegen!</h1>
</div>
<div class="jumbotron">
<form method="POST">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="jumbotron">
                <h1>Wil je een nieuwe acteur toevoegen?</h1>
                <p>Vul de naam in en klik op Voeg toe:</p>
                <form method="POST">
                    {{ Aform.hidden_tag() }}
                    {{ Aform.voornaam.label }} <br> {{ Aform.voornaam() }}<br>
                    {{ Aform.achternaam.label }} <br> {{ Aform.achternaam() }}<br>
                    {{ Aform.submit() }}
                </form>
            </div>
            <div class="jumbotron">
                <h1>Wil je een nieuwe regisseur toevoegen?</h1>
                <p>Vul de naam in en klik op Voeg toe:</p>
                <form method="POST">
                    {{ Rform.hidden_tag() }}
                    {{ Rform.voornaam.label }} <br> {{ Rform.voornaam() }}<br>
                    {{ Rform.achternaam.label }} <br> {{ Rform.achternaam() }}<br>
                    {{ Rform.submit() }}
                </form>
            </div>
            <div class="jumbotron">
                <h1>Wil je een nieuwe film toevoegen?</h1>
                <p>Vul de naam en de release-datum in en klik op Voeg toe:</p>
                <form method="POST">
                    {{ Fform.hidden_tag() }}
                    {{ Fform.titel.label }} <br> {{ Fform.titel() }}<br>
                    {{ Fform.datum.label }} <br> {{ Fform.datum() }}<br>
                    {{ Fform.rating.label }} <br> {{ Fform.rating() }}<br>
                    {{ Fform.submit() }}
                </form>
            </div>
        </li>
    </ul>
</form>

</div>



{% endblock %}
