{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Wil je een nieuwe acteur toevoegen??</h1>
    <p>Vul de naam in en klik op Voeg toe:</p>
</div>
<div class="jumbotron">
<form method="POST">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="jumbotron">
                <h1>Heeft zich een nieuwe cursist aangemeld?</h1>
                <p>Vul de naam in en klik op Voeg toe:</p>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.voornaam.label }} {{ form.voornaam() }}<br>
                    {{ form.achternaam.label }} {{ form.achternaam() }}<br>
                    {{ form.film.label }} {{ form.film() }}<br>
                    {{ form.submit() }}
                </form>
            </div>
        </li>
    </ul>
</form>

</div>



{% endblock %}
