{% extends "base.html" %}
{% block content %}

<p>Hallo {{ current_user.username }}! Hier zijn al onze huisjes</p>
<div class="jumbotron">
<form method="POST">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="jumbotron">
                <h1>Heeft zich een nieuwe cursist aangemeld?</h1>
                <p>Vul de naam in en klik op Voeg toe:</p>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.titel.label }} {{ form.titel() }}<br>
                    {{ form.datum.label }} {{ form.datum() }}<br>
                    {{ form.submit() }}
                </form>
            </div>
        </li>
        <li class="list-group-item">
            <div class="jumbotron">
                Alle info van huisje 2<br>
            </div>
        </li>
        <li class="list-group-item">
            <div class="jumbotron">
                Alle info van huisje 3<br>
            </div>
        </li>
        <li class="list-group-item">
            <div class="jumbotron">
                Alle info van huisje 4<br>
            </div>
        </li>
    </ul>
</form>

</div>



{% endblock %}
