{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <li class="list-group-item">
<h1>Hallo {{ current_user.username }}! Hier zijn alle Films!</h1>
{% if films|length %}
        {% for film in films %}
            <div class="jumbotron">
                Naam: <a href="film_pagina?filmId={{ film.id }}">{{ film.titel }}</a></br>
                Release-datum: {{ film.datum }} </br>
                Rating: {{ film.rating}}
            </div>
        {% endfor %}

{% else %}
    <div>
        <p>Er zijn nog geen films geplaatst.</p>
    </div>
{% endif %}
    </li>
</div>



{% endblock %}